.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 10px 10px rgba(0, 255, 200, 0.3);
  padding: 20px;
  max-width: 300px;
  margin: 20px;
  background: linear-gradient(145deg, #1b1f2a, #2e3440);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reviewCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 255, 200, 0.4);
}

.coverImage {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 255, 200, 0.2);
  width: 100%; /* Make cover image responsive */
  height: auto; /* Maintain aspect ratio */
}

.info {
  text-align: center;
  margin-top: 15px;
}

.info .restaurant {
  font-size: 1.3em;
  font-weight: bold;
  color: #00ffcc;
}

.info .rating {
  color: #ffcc00;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.info .summary {
  font-style: italic;
  color: #aaa;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.username {
  font-size: 1.1em;
  color: #00ffcc;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #00ffcc;
  width: 50px; /* Set a default width */
  height: 50px; /* Set a default height */
}

/* Responsive styles */
@media (max-width: 768px) {
  .reviewCard {
    max-width: 100%; /* Allow the card to use full width on small screens */
    margin: 10px; /* Reduce margin for better fit */
    padding: 15px; /* Adjust padding for smaller screens */
  }
  .info {
    margin-top: 3px;
  }
  .info .restaurant {
    font-size: 0.8em; /* Slightly reduce font size for smaller screens */
  }

  .info .rate {
    font-size: 0.5em; /* Slightly reduce font size for smaller screens */
  }

  .info .summary {
    font-size: 0.9em; /* Slightly reduce font size for smaller screens */
  }

  .userDetails {
    gap: 5px; /* Reduce gap between items */
  }

  .username {
    font-size: 1em; /* Slightly reduce font size for smaller screens */
  }

  .avatar {
    width: 30px; /* Adjust width for smaller screens */
    height: 30px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .reviewCard {
    padding: 10px; /* Further reduce padding for very small screens */
  }
  .info {
    margin-top: 3px;
  }
  .info .restaurant {
    font-size: 0.6em; /* Further reduce font size for very small screens */
  }

  .info .rate {
    font-size: 0.5em; /* Further reduce font size for very small screens */
  }

  .info .summary {
    font-size: 0.8em; /* Further reduce font size for very small screens */
  }

  .userDetails {
    gap: 3px; /* Further reduce gap for very small screens */
  }

  .username {
    font-size: 0.8em; /* Further reduce font size for very small screens */
  }

  .avatar {
    width: 20px; /* Further reduce width for very small screens */
    height: 20px; /* Further reduce height for very small screens */
  }
}
